@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //Weights: 400, 500, 700
  font-family: 'Space Mono', monospace;
}

#root {
  @include centered-flex;
  flex-direction: column;
  background-color: $Light-grayish-cyan2;
}

#logo {
  padding: 50px 0;
}