@import 'variables';

.amounts {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.amount-names {
  color: $White;
  text-align: left;

  tr {
    color: $Light-grayish-cyan2;
    font-size: .9rem;
  }
}

.amount-values {
  color: $Strong-cyan;
  font-size: 2rem;

  img {
    fill: aqua;
  }
}