@import "variables";

/*** MOBILE RESOLUTION ***/

#logo {
	padding: 50px 0;
}

//-- FORM COMPONENT --//
#main-container {
	@include centered-flex;
	flex-direction: column;
	background-color: $White;
	row-gap: 30px;
	padding: 20px;
	width: 100%;
	max-width: 550px;
	border-radius: 20px;

	#input-data-container {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
		padding: 0 5px;
		width: 100%;
		max-width: 375px;

		.input-datas {
			.input-header {
				display: flex;
				justify-content: space-between;
			}
		}
	}
}

.headings {
	color: $Dark-grayish-cyan2;
	font-size: 1rem;
	font-weight: 700;
	padding-bottom: 5px;
}

#tip-buttons-list {
	padding-top: 20px;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 12px;

	li {
		width: 100%;
		#custom-tip-input {
			@include tipButtons;
			background-color: $Light-grayish-cyan;
			border-radius: 5px;

			&::placeholder {
				text-align: right;
				color: $Very-dark-cyan;
				opacity: 0.65;
				transform: translateY(-3px);
				padding-right: 20px;

				@media (min-width: 768px) {
					text-align: center;
					padding-right: 0;
				}
			}
			&:focus-within {
				outline: 2px $Strong-cyan solid;
			}
		}
	}
}

#account-container {
	@include centered-flex;
	flex-direction: column;
	background-color: $Very-dark-cyan;
	border-radius: 12px;
	padding: 20px;
	width: 100%;
	max-width: 450px;

	#reset-button {
		height: 50px;
		width: 100%;
		background-color: $Strong-cyan;
		border: none;
		border-radius: 7px;
		box-shadow: 0px 3px 5px -2px black;
		transition: all 0.1s;
		cursor: pointer;
		font-weight: 700;
		font-size: 1.2rem;
		color: $Very-dark-cyan;

		&:active {
			box-shadow: none !important;
			transform: translateY(3px);
		}
	}
}

//-- INPUT COMPONENT --//
.input-header {
	display: flex;
	position: relative;

	.warning-text {
		position: relative;
		right: 0;
		font-size: 0.9rem;
		font-weight: 600;
		color: coral;
		text-align: right;
	}
}

.number-inputs {
	background: no-repeat center left 13px;
	background-color: $Light-grayish-cyan;
	padding: 8px;
	border: none;
	border-radius: 5px;
	font-size: $input-font-size;
	text-align: right;
	color: $Very-dark-cyan;
	font-weight: 700;
	opacity: 1;
	width: 100%;

	&::placeholder {
		opacity: 0.6;
	}
	&:focus-within {
		outline: 2px $Strong-cyan solid;
	}
}

//-- ACCOUNT COMPONENT --//
#account-column {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	width: 100%;
	padding: 20px 0 35px;
}

//-- TIP BUTTON COMPONENT --//
li {
	width: 100%;
	.tip-buttons-input {
		@include tipButtons;
		cursor: pointer;
	}
}

//-- AMOUNT COMPONENT --//
.amounts {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.amount-names {
		color: $Light-grayish-cyan;
		font-weight: 600;
	}

	.per-person {
		color: $Light-grayish-cyan2;
		font-size: 0.9rem;
		opacity: 0.8;
	}
}

.amount-values {
	color: $Strong-cyan;
	font-size: 2rem;
	font-weight: 600;

	.dollar-icons {
		margin-right: 2px;
		width: 14px;
	}
}

footer {
	position: absolute;
	bottom: 0;
	font-weight: 700;
	font-size: 1rem;
	padding: 10px;
}

/*** DESKTOP RESOLUTION ****/

@media screen and (min-width: 768px) {
	#logo {
		padding: 0;
	}

	//-- FORM COMPONENT --//
	#main-container {
		padding: 30px 10px;
		margin: 30px 0;
		width: 97vw;
		max-width: 925px;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-evenly;

		#tip-buttons-list {
			grid-template-columns: repeat(3, 1fr);
		}
		#account-container {
			justify-content: space-between;
			padding: 50px 40px 40px;
			width: 100%;

			#reset-button {
				opacity: 0.4;
				&:hover {
					opacity: 1;
				}
			}
		}
	}

	//-- AMOUNT COMPONENT --//
	.amount-values {
		font-size: 2.7rem !important;

		.dollar-icons {
			width: 20px !important;
		}
	}
}
