@import "variables";

/*** MOBILE RESOLUTION ***/

//-- FORM COMPONENT --//
#main-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: $White;
	row-gap: 30px;
	padding: 20px;
	width: 100%;
	border-radius: 10px;

	#input-data-container {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
		padding: 0 5px;
	}
}

.headings {
	color: $Dark-grayish-cyan2;
	font-size: 1rem;
	font-weight: 700;
	padding-bottom: 5px;
}

#tip-buttons-list {
	padding-top: 20px;
	list-style-type: none;
	/*display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(2, 1fr);*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	max-width: fit-content;
	gap: 18px;

	li {
		max-width: $tip-buttons-parent-max-size;
		#custom-tip-input {
			@include tipButtons;
			background-color: $Light-grayish-cyan;
		}
	}
}

#account-container {
	@include centered-flex;
	flex-direction: column;
	background-color: $Very-dark-cyan;
	border-radius: 12px;
	padding: 20px;
	width: 100%;
	max-width: 400px;
	row-gap: 20px;

	#reset-button {
		height: 45px;
		width: 100%;
		background-color: $Strong-cyan;
		border: none;
		border-radius: 7px;
		box-shadow: 1px 3px 5px -2px black;
    transition: all .1s;
    cursor: pointer;

		&:active {
			box-shadow: none !important;
			transform: translateY(3px);
		}
	}
}

//-- INPUT COMPONENT --//
.number-inputs {
	background: no-repeat center left 13px;
	background-color: $Light-grayish-cyan;
	padding: 8px;
	border: none;
	border-radius: 7px;
	font-size: $input-font-size;
	text-align: right;
	color: $Very-dark-cyan;
	font-weight: 700;
	opacity: 1;
	width: 100%;
}

//-- ACCOUNT COMPONENT --//
#account-column {
  width: 100%;
}

//-- TIP BUTTON COMPONENT --//
li {
	width: 100%;
	max-width: $tip-buttons-parent-max-size;
	.tip-buttons-input {
		@include tipButtons;
		cursor: pointer;
	}
}

//-- AMOUNT COMPONENT --//
.amounts {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.amount-names {
  color: $White;
  text-align: left;

  tr {
    color: $Light-grayish-cyan2;
    font-size: .9rem;
  }
}

.amount-values {
  color: $Strong-cyan;
  font-size: 2rem;

  img {
    fill: aqua;
  }
}

/*** DESKTOP RESOLUTION ***/

@media screen and (min-width: 768px) {
	#reset-button {
    transition: all .3s;
		&:hover {
      box-shadow: 3px 3px 5px -1px black !important;
		}
	}
}
